[Unit]
Description=OTTO network setup webserver
After=syslog.target auditd.service network.service connman.service

[Service]
ExecStart=/usr/bin/otto-network-setup.py /usr/lib/otto-network-setup
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
